# Virtual environment
**/venv/
**/.venv/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python

# Environment files 
.env

# Logs
*.log
logs/

# IDE/editor
.vscode/
docs/workbook
docs/ideas
docs/tasks
README_ru.md
README.md
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# LLM models
**/models/*
!**/models/.gitkeep
main-srv/src/model_service/keys/*.key
main-srv/src/model_service/keys/*.pem
main-srv/src/model_service/keys/*.json

# Data bases
data_bases/

# llama.cpp
llama.cpp/build/
llama.cpp/CMakeCache.txt
llama.cpp/CMakeFiles/

# Drivers
drivers/
